.flow{
  &__content{
    display: flex;

    @include mq(sp){
      flex-wrap: wrap;
    }
  }

  &__item{
    border: 1px solid $black;
    margin-right: 3.33333334%;
    flex: 0 1 33.333333%;
    padding: 3rem;

    @include mq(tab){
      padding: 15px;
    }

    @include mq(sp){
      flex: 0 0 90%;
      margin: 0 auto 20px;
    }

    &:last-child{
      margin-right: 0;
      margin-bottom: 0;

      @include mq(sp){
        margin-right: auto;
      }
    }

    &-icon{
      text-align: center;
      font-size: 4rem;
      margin-bottom: 15px;

      @include mq(sp){
        font-size: 6rem;
      }
    }

    &-title{
      text-align: center;
      font-size: 24px;
      margin-bottom: 15px;

      @include mq(tab){
        font-size: 18px;
      }
    }

    &-text{
      @include mq(tab){
        font-size: 14px;
      }
    }
  }
}